In [1]:
import numpy as np 
import pandas as pd 
import os

In [2]:
from google.colab import files
uploaded=files.upload()

Saving Data_Test.xlsx to Data_Test.xlsx
Saving Data_Train.xlsx to Data_Train.xlsx

In [3]:
train = pd.read_excel('Data_Train.xlsx')
test = pd.read_excel('Data_Test.xlsx')

In [4]:
train["source"] = "train"
test["source"] = "test"

In [5]:
df = pd.concat([train,test])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16921 entries, 0 to 4230
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          16921 non-null  object
 1   RESTAURANT_ID  16921 non-null  int64
 2   CUISINES       16921 non-null  object
 3   TIME           16921 non-null  object
 4   CITY           16774 non-null  object
 5   LOCALITY       16793 non-null  object
 6   RATING         16917 non-null  object
 7   VOTES          15315 non-null  object
 8   COST           12690 non-null  float64
 9   source         16921 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.4+ MB

In [7]:
#Checking for duplicates
df.duplicated().sum()

26

In [8]:
#Dropping the duplicates
df= df.drop_duplicates()

In [9]:
#Checking for null values
df.isnull().sum()

TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              147
LOCALITY          128
RATING              4
VOTES            1602
COST             4230
source              0
dtype: int64

In [10]:
#combining City and locality
df['Location']=df['CITY']+' '+df['LOCALITY']
df.drop(columns=['CITY','LOCALITY'])

                  TITLE  RESTAURANT_ID  ... source                      Location
0         CASUAL DINING           9438  ...  train          Thane Dombivali East
1     CASUAL DINING,BAR          13198  ...  train             Chennai Ramapuram
2         CASUAL DINING          10915  ...  train            Chennai Saligramam
3           QUICK BITES           6346  ...  train            Mumbai Bandra West
4        DESSERT PARLOR          15387  ...  train            Mumbai Lower Parel
...                 ...            ...  ...    ...                           ...
4226      CASUAL DINING           9057  ...   test        New Delhi Punjabi Bagh
4227               None           1247  ...   test          Bangalore HSR Layout
4228        QUICK BITES           8617  ...   test           Faridabad Sector 86
4229        QUICK BITES           6485  ...   test                   Kochi Kochi
4230        QUICK BITES           2421  ...   test  Bandra West Perry Cross Road

[16895 rows x 9 columns]

In [11]:
df.dropna(subset=['Location'],inplace=True)

In [12]:
!pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading https://files.pythonhosted.org/packages/43/ff/74f23998ad2f93b945c0309f825be92e04e0348e062026998b5eefef4c33/fuzzywuzzy-0.18.0-py2.py3-none-any.whl
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [13]:
from fuzzywuzzy import process
 
names_array=[]
def match_names(wrong_names,correct_names):
    for row in wrong_names:
        x=process.extractOne(row, correct_names)
        if x[1]<60:
            names_array.append('Others')
        else:
            names_array.append(x[0])
    return names_array

/usr/local/lib/python3.6/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [14]:
correct_names=['Bangalore','Thane',
'Hyderabad','Andheri',
'Delhi', 'Kerala',
'Chennai', 'Bandra',
'Mumbai', 'Telangana',
'Kochi', 
'Noida', 
'Gurgaon', 'Ernakulam',
'Faridabad', 'Ghaziabad',
'Secunderabad' ]
name_match=match_names(df.Location,correct_names)    

print(len(names_array))
df['Location']=names_array

16747

In [15]:
#Splitting the cuisines column
cuisines_list=[]
for row in df['CUISINES']:
    cuisines_list.append(list(row.split(',')))

df['CUISINES']=cuisines_list

In [16]:
df['CUISINES'].isna().sum()

0

In [22]:
df_cuisines=df['CUISINES'].apply(lambda x: pd.Series(1, x))

In [18]:
#Splitting the title column
title_list=[]
for row in df['TITLE']:
    title_list.append(list(row.split(',')))
df['TITLE']=title_list

In [19]:
df_title=df['TITLE'].apply(lambda x: pd.Series(1, x))

In [20]:
df_title.head()

   CASUAL DINING  BAR  QUICK BITES  ...  COCKTAIL BAR  PAAN SHOP  BHOJANALYA
0            1.0  NaN          NaN  ...           NaN        NaN         NaN
1            1.0  1.0          NaN  ...           NaN        NaN         NaN
2            1.0  NaN          NaN  ...           NaN        NaN         NaN
3            NaN  NaN          1.0  ...           NaN        NaN         NaN
4            NaN  NaN          NaN  ...           NaN        NaN         NaN

[5 rows x 25 columns]

In [21]:
df[df['RATING'].isna()]

              TITLE  RESTAURANT_ID  ... source   Location
204        [BAKERY]          15062  ...  train      Kochi
421          [CAFÉ]          14127  ...  train  Hyderabad
2035  [QUICK BITES]           2776  ...   test      Kochi
2758         [None]          11301  ...   test      Kochi

[4 rows x 11 columns]

In [23]:
df["RATING"] = df.groupby("CITY").RATING.transform(lambda x : x.fillna(x.mode()[0]))

In [24]:
df['RATING']=df['RATING'].str.extract('(\d+)').astype(float)

In [25]:
df['VOTES'].isna().sum()

1579

In [26]:
df.VOTES.fillna('0',inplace=True)
df['VOTES']=df['VOTES'].str.extract('(\d+)').astype(float)

In [27]:
df.drop(columns='CITY',inplace=True)
df.drop(columns='LOCALITY',inplace=True)
df.drop(columns='CUISINES',inplace=True)

In [28]:
df_City=pd.get_dummies(df['Location'])
df.drop(columns='Location',inplace=True)
df_City.head()

   Andheri  Bandra  Bangalore  Chennai  ...  Others  Secunderabad  Telangana  Thane
0        0       0          0        0  ...       0             0          0      1
1        0       0          0        1  ...       0             0          0      0
2        0       0          0        1  ...       0             0          0      0
3        0       1          0        0  ...       0             0          0      0
4        0       0          0        0  ...       0             0          0      0

[5 rows x 18 columns]

In [29]:
df = pd.concat([df,df_City,df_cuisines,df_title], axis=1)

In [30]:
df.drop(columns='TITLE',inplace=True)

In [31]:
df_column_category = df.select_dtypes(exclude=np.number).columns
df_column_category

Index(['TIME', 'source'], dtype='object')

In [32]:
df.drop(columns='TIME',inplace=True)

In [33]:
df.fillna(0,inplace=True)

In [34]:
train_final = df[df.source=="train"]
test_final = df[df.source=="test"]

In [35]:
train_final.shape

(12552, 277)

In [36]:
train_final.drop(columns=["source"],inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [37]:
test_final.drop(columns=["source",'COST'],inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [38]:
train_X = train_final.drop(columns=["COST",'RESTAURANT_ID'])

In [39]:
train_Y = train_final["COST"]

In [40]:
test_X = test_final.drop(columns=["RESTAURANT_ID"])

In [41]:
train_X.fillna(0,inplace=True)
train_X.isna().sum()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

RATING          0
VOTES           0
Andheri         0
Bandra          0
Bangalore       0
               ..
DHABA           0
MEAT SHOP       0
COCKTAIL BAR    0
PAAN SHOP       0
BHOJANALYA      0
Length: 274, dtype: int64

In [42]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(train_X, train_Y)
dtrain_predictions = model.predict(train_X)

In [43]:
from sklearn.model_selection import cross_val_score
a = cross_val_score(model, train_X, train_Y, cv=5, scoring='neg_mean_squared_error')

In [44]:
#Print model report:
from sklearn.metrics import mean_absolute_error,mean_squared_error,mean_squared_log_error, r2_score
print("RMSE : %.4g" % np.sqrt(mean_squared_error(train_Y.values, dtrain_predictions)))
    
#Predict on testing data:
test_X.fillna(0,inplace=True)
test_final["res_linear"] =  model.predict(test_X)

RMSE : 331.3

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [46]:
print('r2 train',r2_score(train_Y,dtrain_predictions))

r2 train 0.7224620548734613

In [47]:
Test_data_prediction= test_final[["RESTAURANT_ID","res_linear"]]

In [48]:
Test_data_prediction.head(10)

   RESTAURANT_ID  res_linear
0           4085  917.577942
1          12680  359.177734
2           1411  809.392883
3            204  363.644104
4          13453  205.617065
5           4518   51.630432
6           1643  615.142578
7           5109  620.427368
8           5606  433.676208
9          14319  654.869141