#### The aim of this project is to predict the consultation fees of a doctor based on different features

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_excel("Final_Train.xlsx")
#pd.set_option('display.max_rows', None)
df.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350
2,"MBBS, MS - Otorhinolaryngology",9 years experience,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,NaN,300
3,"BSc - Zoology, BAMS",12 years experience,NaN,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ₹250 Available on...",250
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250

In [3]:
df.shape

(5961, 7)

In [4]:
df.isnull().sum()/len(df)*100

Qualification          0.000000
Experience             0.000000
Rating                55.393390
Place                  0.419393
Profile                0.000000
Miscellaneous_Info    43.952357
Fees                   0.000000
dtype: float64

In [5]:
#Taking all the rows where place is NaN
df[df['Place'].isna()]

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
91,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
502,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
599,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
605,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
724,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
1002,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
1083,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
1210,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
2078,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
2178,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
2328,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
3099,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
3228,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
3418,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
3443,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
3744,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
3804,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
4004,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
4758,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
4823,"MBBS, DDVL",22 years experience,NaN,NaN,Dermatologists,NaN,150
4847,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
5058,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
5187,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
5551,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100
5723,Get inspired by remarkable stories of people l...,0 years experience,NaN,NaN,Dermatologists,NaN,100

In [6]:
#Deleting the unwanted rows with nt meaningful values
df=df[df['Qualification']!='Get inspired by remarkable stories of people like you']

In [7]:
df.shape

(5937, 7)

In [8]:
#Correcting the index
df.index=pd.RangeIndex(0,5937)

In [9]:
#Since nearly 44% of data is missing, and it is not having any impact on target variable,we can drop Miscellaneous_Info variable.
df.drop('Miscellaneous_Info',axis=1,inplace=True)

In [10]:
df['Rating'].value_counts(dropna=False)

NaN     3278
100%     684
98%      290
99%      259
97%      241
96%      220
95%      178
94%      115
93%      109
90%       66
92%       66
91%       60
89%       42
88%       41
85%       27
82%       23
86%       21
83%       21
80%       19
77%       16
87%       14
79%       13
84%       13
67%       12
81%       12
76%        9
71%        9
73%        8
75%        8
74%        7
60%        7
78%        6
56%        5
68%        5
69%        4
70%        4
72%        3
57%        3
63%        2
33%        2
64%        2
55%        2
62%        2
47%        1
53%        1
40%        1
7%         1
65%        1
48%        1
58%        1
45%        1
36%        1
Name: Rating, dtype: int64

In [11]:
#df['Rating'].dtype

In [12]:
df['Rating'].fillna(value=df['Rating'].mode()[0],inplace=True)

In [13]:
#Removing % symbol
df['Rating']=df['Rating'].apply(lambda x:x.strip('%'))

In [14]:
df['Rating']=df['Rating'].astype(int)

In [15]:
#Taking only numbers from experience column
df['Experience']=df['Experience'].apply(lambda x: x.split(" ")[0])

In [16]:
df['Experience']=df['Experience'].astype(int)

In [17]:
df[df['Place'].isna()]

     Qualification  Experience  Rating Place         Profile  Fees
4804    MBBS, DDVL          22     100   NaN  Dermatologists   150

There is still one row where Place is NaN

In [18]:
df['Place'].value_counts()

HSR Layout, Bangalore                75
Andheri West, Mumbai                 70
Dwarka, Delhi                        67
Banjara Hills, Hyderabad             64
Mulund West, Mumbai                  54
Borivali West, Mumbai                52
Kandivali West, Mumbai               50
Indiranagar, Bangalore               48
Whitefield, Bangalore                47
Malad West, Mumbai                   47
Malleswaram, Bangalore               47
Pitampura, Delhi                     45
Andheri East, Mumbai                 43
Vileparle West, Mumbai               43
Powai, Mumbai                        42
Jubilee Hills, Hyderabad             40
Marathahalli, Bangalore              39
Bannerghatta Road, Bangalore         39
Ghatkopar East, Mumbai               38
Bandra West, Mumbai                  38
Kondapur, Hyderabad                  38
Secunderabad, Hyderabad              37
Rohini, Delhi                        37
Janak Puri, Delhi                    37
Adyar, Chennai                       37
Shalimar Bagh, Delhi                 36
Paschim Vihar, Delhi                 36
KPHB, Hyderabad                      35
Koramangala, Bangalore               35
Kukatpally, Hyderabad                34
                                     ..
Tis Hazari, Delhi                     1
Poovachal, Thiruvananthapuram         1
Yakutpura, Hyderabad                  1
Kala Ghoda, Mumbai                    1
Deonar, Mumbai                        1
Kapashera, Delhi                      1
Nampally, Hyderabad                   1
Borabanda, Hyderabad                  1
Kalady, Ernakulam                     1
Dwarka Sector 10, Delhi               1
Chandni Chowk, Delhi                  1
Vallakkadavoo, Thiruvananthapuram     1
Vyasarpadi, Chennai                   1
Venjaramoodu, Thiruvananthapuram      1
Durga Puri, Delhi                     1
Nayandahalli, Bangalore               1
Athani, Ernakulam                     1
Fort, Mumbai                          1
Gandhinagar, Hyderabad                1
Hyder Nagar, Hyderabad                1
Rana Pratap Bagh, Delhi               1
Kovaipudur, Coimbatore                1
Santacruz, Mumbai                     1
Peenya, Bangalore                     1
Film Nagar, Hyderabad                 1
TVM Fort, Thiruvananthapuram          1
Bolarum, Hyderabad                    1
TV Chalai, Thiruvananthapuram         1
Khanpur, Delhi                        1
Delhi Cantt, Delhi                    1
Name: Place, Length: 877, dtype: int64

In [19]:
#Removing the rpw with 'e' as an entry
df=df[df['Place']!='e']

In [20]:
df.shape

(5936, 6)

In [21]:
df.index=pd.RangeIndex(0,5936)

In [22]:
df['Place'].fillna(value=df['Place'].mode()[0],inplace=True)

In [23]:
#Considering only the place value. Second part of the string after ','
df['Place']=df['Place'].apply(lambda x:str(x).split(",")[1])

In [24]:
df['Place'].value_counts()

 Bangalore             1259
 Mumbai                1219
 Delhi                 1184
 Hyderabad              951
 Chennai                855
 Coimbatore             228
 Ernakulam              153
 Thiruvananthapuram      86
 Sector 5                 1
Name: Place, dtype: int64

In [25]:
df.head()

,Qualification,Experience,Rating,Place,Profile,Fees
0,"BHMS, MD - Homeopathy",24,100,Ernakulam,Homeopath,100
1,"BAMS, MD - Ayurveda Medicine",12,98,Bangalore,Ayurveda,350
2,"MBBS, MS - Otorhinolaryngology",9,100,Bangalore,ENT Specialist,300
3,"BSc - Zoology, BAMS",12,100,Bangalore,Ayurveda,250
4,BAMS,20,100,Chennai,Ayurveda,250

In [26]:
df['Qualification'].value_counts()

BDS                                                                                                                                                                                                487
BHMS                                                                                                                                                                                               477
BAMS                                                                                                                                                                                               471
MBBS                                                                                                                                                                                               334
MBBS, MS - ENT                                                                                                                                                                                     220
MBBS, MD - Dermatology                                                                                                                                                                             178
MBBS, MD - General Medicine                                                                                                                                                                        177
MBBS, MD - Dermatology , Venereology & Leprosy                                                                                                                                                     140
BHMS, MD - Homeopathy                                                                                                                                                                               93
MBBS, DDVL                                                                                                                                                                                          92
MBBS, Diploma in Otorhinolaryngology (DLO)                                                                                                                                                          84
BAMS, MD - Ayurveda Medicine                                                                                                                                                                        82
BDS, MDS - Conservative Dentistry & Endodontics                                                                                                                                                     68
MBBS, DDV                                                                                                                                                                                           66
BDS, MDS                                                                                                                                                                                            63
BDS, MDS - Oral & Maxillofacial Surgery                                                                                                                                                             57
MD - Dermatology , Venereology & Leprosy, MBBS                                                                                                                                                      52
BDS, MDS - Prosthodontics                                                                                                                                                                           45
MBBS, MS - Otorhinolaryngology                                                                                                                                                                      44
MBBS, MD - Internal Medicine                                                                                                                                                                        43
BDS, MDS - Orthodontics                                                                                                                                                                             41
MBBS, MD - Medicine                                                                                                                                                                                 41
MS - ENT, MBBS                                                                                                                                                                                      37
BDS, MDS - Paedodontics And Preventive Dentistry                                                                                                                                                    32
MD - Dermatology, MBBS                                                                                                                                                                              31
MBBS, Diploma in Dermatology                                                                                                                                                                        31
BDS, MDS - Periodontology and Oral Implantology                                                                                                                                                     29
BDS, MDS - Orthodontics and Dentofacial Orthopaedics                                                                                                                                                29
MBBS, Diploma in Otorhinolaryngology (DLO), DNB - ENT                                                                                                                                               27
BDS, MDS - Pedodontics                                                                                                                                                                              25
                                                                                                                                                                                                  ...
MBBS, DNB - Otorhinolaryngology, Fellowship in Head & Neck Oncology Surgery                                                                                                                          1
BDS, MDS - Oral & Maxillofacial Surgery, Certificate in Dental Implants, Certification in Aesthetic Dentistry                                                                                        1
BDS, PhD - Orthodontics & Dentofacial Orthopaedics, Fellowship and Diplomate in Implantology from ICOI (USA)                                                                                         1
MBBS, Member of the Royal College of General Practitioners UK (MRCGP), Post Graduate Diploma in Diabetology (PGDD)                                                                                   1
LCEH, BHMS                                                                                                                                                                                           1
MBBS, DDV, FICD                                                                                                                                                                                      1
MDS - Prosthodontist And Crown Bridge, Fellowship and Diplomate in Implantology from ICOI (USA), BDS                                                                                                 1
BAMS, MD-Ayurvedic Vachaspati                                                                                                                                                                        1
MBBS, MD - Dermatology, DNB - Dermatology, Venereology & Leprosy                                                                                                                                     1
MBBS, Diploma in Preventive & Promotive Healthcare, MS - Counselling & Psychotherapy, MD - Alternate Medicine, Integrated Clinical Hypnotherapy                                                      1
BHMS, MD - Pediatrics                                                                                                                                                                                1
MBBS, Diploma in Tuberculosis and Chest Diseases (DTCD), MD - Medicine                                                                                                                               1
Diploma in Trichology - Cosmetology, Diploma in Aesthetic Dermatology, MD - Alternate Medicine, BAMS, Diploma in Hair Restoration Surgery                                                            1
BAMS, Yoga Instructor's Course, Certificate in Food and Nutrition, Certificate course in Reiki                                                                                                       1
MBBS, Diploma in Otorhinolaryngology (DLO), MS - ENT, FCPS - Mid. & Gynae, DNB - ENT                                                                                                                 1
MBBS, Diploma in Otorhinolaryngology (DLO), DNB, Fellowship in Head & Neck Oncology Surgery                                                                                                          1
MBBS, DNB - Internal Medicine, Post Graduate Course in Rheumatology                                                                                                                                  1
MBBS, Diploma in Otorhinolaryngology (DLO), PG Diploma In Clinical Cosmetology (PGDCC)                                                                                                               1
BDS, Advanced Endotontic Course On Root Canal                                                                                                                                                        1
Fellowship in Aesthetic Medicine, MD - Dermatology                                                                                                                                                   1
MBBS, DGO, Diploma in Dermatology                                                                                                                                                                    1
DNB - Orthopedics/Orthopedic Surgery, MBBS                                                                                                                                                           1
MBBS, MD - Dermatology , Venereology & Leprosy, Fellowship in Lasers & Cosmetology                                                                                                                   1
MBBS, MD - General Medicine, Fellowship in Non-Invasive Cardiology (FIC), Certificate Course in Evidence Based Diabetes Management (CCEBDM), Certificate Course in Gestational Diabetes (CCGDM)      1
MDS - Periodontology and Oral Implantology, Certificate in Cosmetic Dentistry, Post Graduate Certificate in Endodontics (PGCE), BDS, Fellow of Academy of General Education (FAGE)                   1
GCEH, Certificate in Child Health (CCH)                                                                                                                                                              1
BHMS, Post Graduate Diploma in Emergency Services (PGDEMS), PG Certificate Course In Diabetes Education(PGDCE)                                                                                       1
MBBS, MNAMS (Membership of the National Academy), DNB - Otorhinolaryngology, FICS - ENT                                                                                                              1
MBBS, MD - Dermatology, Fellowship In Dermatosurgery                                                                                                                                                 1
MBBS, MD - Dermatology, Fellow in Dermato - Surgery                                                                                                                                                  1
Name: Qualification, Length: 1419, dtype: int64

for i in range(len(df['Qualification'][i])):
    if 'MD' in df['Qualification'][i]:
        df['Qualification'][i]=2
    elif 'MDS' in df['Qualification'][i]:
        df['Qualification'][i]=2
    elif 'MS' in df['Qualification'][i]:
        df['Qualification'][i]=2
    else:
        df['Qualification'][i]=1

In [27]:
df['Qualification'].unique()

array(['BHMS, MD - Homeopathy', 'BAMS, MD - Ayurveda Medicine',
       'MBBS, MS - Otorhinolaryngology', ...,
       'MD - Dermatology , Venereology & Leprosy, MBBS, Fellowship In Dermatosurgery',
       'BDS, certification in smile designing',
       'MD - Homeopathy, Post Graduate Diploma in Healthcare Management(PGDHM), DHMS (Diploma in Homeopathic Medicine and Surgery)'],
      dtype=object)

In [29]:
df["Qualification"]=df["Qualification"].str.split(",")

In [30]:
df['Qualification']

0                                [BHMS,  MD - Homeopathy]
1                         [BAMS,  MD - Ayurveda Medicine]
2                       [MBBS,  MS - Otorhinolaryngology]
3                                  [BSc - Zoology,  BAMS]
4                                                  [BAMS]
5                                                  [BAMS]
6                                                  [BHMS]
7                                                   [BDS]
8                          [MBBS,  MD - General Medicine]
9                                             [BSc,  BDS]
10                                [MBBS,  MS,  DNB - ENT]
11                                                 [BAMS]
12                                            [BDS,  MDS]
13             [BDS,  MDS - Oral & Maxillofacial Surgery]
14      [MBBS,  Diploma in Otorhinolaryngology (DLO), ...
15                         [MBBS,  MD - General Medicine]
16          [MBBS,  Diploma in Otorhinolaryngology (DLO)]
17                                [MBBS,  MF- Homeopathy]
18                                      [MBBS,  MS - ENT]
19                                                 [MBBS]
20                                      [MDS,  DNB,  BDS]
21                                     [MBBS,  DNB - ENT]
22                                                 [MBBS]
23      [MBBS,  Fellowship of College of General Pract...
24                                          [MBBS,  DDVL]
25                                                  [BDS]
26                                   [MBBS,  IBCLC (USA)]
27      [MBBS,  MD - General Medicine,  Post Graduate ...
28                                            [BDS,  MDS]
29                        [Diploma in Dermatology,  MBBS]
                              ...
5906    [MBBS,  MRCP (UK),  Post Graduate Diploma in D...
5907                                                [BDS]
5908                             [BHMS,  MD - Homeopathy]
5909                                               [BHMS]
5910    [MDS - Periodontology and Oral Implantology,  ...
5911    [MD - Homeopathy,  LCEH,  Diploma in Preventiv...
5912                                         [BHMS,  MSc]
5913                                               [MBBS]
5914                             [BHMS,  MD - Pediatrics]
5915                            [MBBS,  MD - Dermatology]
5916                                               [BHMS]
5917                       [MBBS,  MD - General Medicine]
5918                                                [BDS]
5919                                           [MS - ENT]
5920    [BDS,  FDS Endodontics,  Certified in Advanced...
5921                                                [BDS]
5922                                               [BHMS]
5923                                               [BAMS]
5924                                               [BHMS]
5925    [MD - Dermatology ,  Venereology & Leprosy,  M...
5926             [BDS,  certification in smile designing]
5927                                               [MBBS]
5928    [MD - Homeopathy,  Post Graduate Diploma in He...
5929                                               [BHMS]
5930                                    [MD - Homeopathy]
5931                                    [MBBS,  MS - ENT]
5932                                               [MBBS]
5933                                               [MBBS]
5934                       [MBBS,  MD - General Medicine]
5935                           [BDS,  MDS - Orthodontics]
Name: Qualification, Length: 5936, dtype: object

#Tried To convert Qualification column by using Regular expression. I tried to convert Wherever Master degree is there to 1 and Degrees with only bachelors as 0.But it is not successful.

import re
for i in range(len(df['Qualification'])):
    if re.search(r'\b MD\b',str(df['Qualification'][i])):
        df['Qualification'][i]='1'
    elif re.search(r'\b MD \b',str(df['Qualification'][i])):
        df['Qualification'][i]='1'
    elif re.search(r'\b MDS\b',str(df['Qualification'][i])):
        df['Qualification'][i]='1'
    elif re.search(r'\b MDS \b',str(df['Qualification'][i])):
        df['Qualification'][i]='1'
    elif re.search(r'\b MS\b',str(df['Qualification'][i])):
        df['Qualification'][i]='1'
    elif re.search(r'\b MS \b',str(df['Qualification'][i])):
        df['Qualification'][i]='1'
    
    else:
        df['Qualification'][i]='0'

### Get dummies for Profile and Place

In [31]:
status=pd.get_dummies(df.Profile,drop_first=True,prefix="Profile")
df=pd.concat([df,status],axis=1)
df.drop("Profile",axis=1,inplace=True)

status=pd.get_dummies(df.Place,drop_first=True,prefix="Place")
df=pd.concat([df,status],axis=1)
df.drop("Place",axis=1,inplace=True)

In [37]:
df.drop('Qualification',axis=1,inplace=True)

### Define X and y

In [38]:
X=df.drop('Fees',axis=1)
X.head()

,Experience,Rating,Profile_Dentist,Profile_Dermatologists,Profile_ENT Specialist,Profile_General Medicine,Profile_Homeopath,Place_ Chennai,Place_ Coimbatore,Place_ Delhi,Place_ Ernakulam,Place_ Hyderabad,Place_ Mumbai,Place_ Sector 5,Place_ Thiruvananthapuram
0,24,100,0,0,0,0,1,0,0,0,1,0,0,0,0
1,12,98,0,0,0,0,0,0,0,0,0,0,0,0,0
2,9,100,0,0,1,0,0,0,0,0,0,0,0,0,0
3,12,100,0,0,0,0,0,0,0,0,0,0,0,0,0
4,20,100,0,0,0,0,0,1,0,0,0,0,0,0,0

In [39]:
y=df['Fees']
y.head()

0    100
1    350
2    300
3    250
4    250
Name: Fees, dtype: int64

### Linear regression

In [40]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [41]:
lr.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [42]:
y_pred=lr.predict(X)

In [43]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [44]:
r2_score(y,y_pred)

0.16317332285380148

In [45]:
from sklearn.svm import SVR
svr=SVR()

In [46]:
svr.fit(X,y)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
  gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
  tol=0.001, verbose=False)

In [47]:
y_pred=svr.predict(X)

In [48]:
r2_score(y,y_pred)

0.026205121715479285

I tried to convert Qualification column into numerical using Regular Expression. But couldnot succeed in that attempt.So dropped Qualification because of which may be the reason that I couldnot achieve required Accuracy.