In [255]:
import selenium
import pandas as pd
from selenium import webdriver

In [51]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [52]:
driver.get("https://www.naukri.com/")

In [4]:
#Locating the job keyword and location and seting their values
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [7]:
#Locating the search button and clicking it
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [8]:
url='https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'

In [9]:
#fetch the above url
driver.get(url)

In [10]:
#Creating lists to hold the values
job_titles=[]
company_names=[]
location_lists=[]
expr_req=[]

In [11]:
#fetching titles
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="189222abe6e171a9754ec300de1cd4cf", element="c60cae9e-e11b-419a-ba68-19782a16e896")>,
 <selenium.webdriver.remote.webelement.WebElement (session="189222abe6e171a9754ec300de1cd4cf", element="5d47d601-7627-4930-8da2-9949e4476d52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="189222abe6e171a9754ec300de1cd4cf", element="2fd4b8b5-7689-477b-8646-18622a6528d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="189222abe6e171a9754ec300de1cd4cf", element="ba0057a1-1f63-4cf4-aa15-04a2e0e4860e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="189222abe6e171a9754ec300de1cd4cf", element="828d8249-b6cd-43de-9172-d7585d8890fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="189222abe6e171a9754ec300de1cd4cf", element="f7f185f6-bd16-4417-b069-3c8a7b26f564")>,
 <selenium.webdriver.remote.webelement.WebElement (session="189222abe6e171a9754ec300de1cd4cf", element="5f2294bd-46d3-4313-a882-c53fbd7e2eff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="189222abe6e171a9754ec300de1cd4cf", element="eeb46325-f29a-42b8-9063-f15ddad5ac47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="189222abe6e171a9754ec300de1cd4cf", element="260dd807-e807-4163-90d1-b43aef908ad6")>]

In [12]:
#fetching them one by one
for m in title:
    titles=m.text
    job_titles.append(titles)
job_titles

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst',
 'Inviting Business Analyst –Data Science and Insights Bangalore',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst / Business Analyst',
 'Specialist I / II Data Analyst',
 'Data Analyst (SQL, Excel, R/Python, Dashboards, PowerBI) - Contract',
 'Data Analyst with Marketing Analytics-Capco',
 'Junior Data Analyst',
 'SAS Data Analyst',
 'Optimize Overseas LLC - Oil & Gas Data Analyst',
 'Demand Data Analyst',
 'Supply Data Analyst',
 'Sr Manager I Data Analyst (MINT)']

In [13]:
#Similar operation for company names
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for n in company:
    comp=n.text
    company_names.append(comp)
company_names

['Super India Tech Mark',
 'tech mahindra ltd',
 'CONDUENT BUSINESS SERVICES INDIA LLP',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'INTERTRUST GROUP',
 'Myntra Designs Pvt. Ltd.',
 'GENPACT India Private Limited',
 'Concentrix Daksh Services India Private Limited.',
 'Cerner',
 'Cerner Corporation',
 'LatentView Analytics Private Limited',
 'Philips India Limited',
 'Flipkart Internet Private Limited',
 'Capco Technologies Pvt Ltd',
 'Happy Marketer Private Ltd',
 'Diverse Lynx',
 'Optimize Overseas LLC',
 'GLOBALFOUNDRIES Engineering Private Limited',
 'GLOBALFOUNDRIES Engineering Private Limited',
 'Walmart Labs']

In [14]:
#Similar operation for location
loct=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[@class='ellipsis fleft fs12 lh16']")
for j in loct:
    loc=j.text
    location_lists.append(loc)
location_lists

['Bangalore/Bengaluru(Devalapur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [15]:
#similar operation for experience required
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[@class='ellipsis fleft fs12 lh16']")
for k in experience:
    ex=k.text
    expr_req.append(ex)
expr_req

['0-2 Yrs',
 '4-8 Yrs',
 '1-2 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '3-6 Yrs',
 '0-4 Yrs',
 '2-7 Yrs',
 '3-5 Yrs',
 '4-9 Yrs',
 '1-6 Yrs',
 '5-10 Yrs',
 '1-5 Yrs',
 '4-9 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '0-3 Yrs',
 '3-5 Yrs',
 '3-5 Yrs',
 '10-15 Yrs']

In [16]:
print(len(job_titles),len(company_names),len(location_lists),len(expr_req))

20 20 20 20

In [17]:
#creating a dataframe
df=pd.DataFrame({})
df['Job Title']=job_titles
df['Company name']=company_names
df['Location']=location_lists
df['Experience required']=expr_req

In [19]:
df.head(10)

,Job Title,Company name,Location,Experience required
0,Data Analyst,Super India Tech Mark,Bangalore/Bengaluru(Devalapur),0-2 Yrs
1,Data Analyst,tech mahindra ltd,Bangalore/Bengaluru,4-8 Yrs
2,Data Analyst,CONDUENT BUSINESS SERVICES INDIA LLP,Bangalore/Bengaluru,1-2 Yrs
3,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,2-7 Yrs
4,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,"Mumbai, Bangalore/Bengaluru",3-7 Yrs
5,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
6,Inviting Business Analyst –Data Science and In...,GENPACT India Private Limited,Bangalore/Bengaluru,0-4 Yrs
7,Hiring For Data Analyst,Concentrix Daksh Services India Private Limited.,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs
8,Senior Data Analyst,Cerner,Bangalore/Bengaluru,3-5 Yrs
9,Senior Data Analyst,Cerner Corporation,Bangalore/Bengaluru,4-9 Yrs

In [57]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [58]:
driver.get("https://www.naukri.com/")

In [59]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")

In [60]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [61]:
driver.find_element_by_xpath("//div[@class='mt-8 chckBoxCont']").click()

In [62]:
cl_obj=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p/span[1]")

In [63]:
cl_obj.click()

In [64]:
job3_title=[]
job3_loc=[]
company3_name=[]
exp3_req=[]

In [65]:
job3=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for u in job3:
    job=u.text
    job3_title.append(job)
job3_title

['Data Scientist',
 'Opportunity For Data Scientist Internship - Bengaluru',
 'Associate Data Scientist - CRM & Loyalty',
 'Data Scientist/Data Analyst-immediate',
 'Data Scientist',
 'Data Scientist Entry Level',
 'SAS Data Scientist',
 'Supply Chain Data Scientist',
 'Data Scientist - CRM & Loyalty',
 'Data Scientist - Python & Machine Learning',
 'Data Scientist - Python & Machine Learning',
 'Data Scientist (Github Projects Mandatory with min 3 Months History)',
 'Data Scientist - Python / Machine Learning / Tableau / Power BI',
 'Data Scientist - Python & Machine Learning',
 'Data Scientist - Banking, BFSI Domain',
 'Data Scientist - Python/Kafka',
 'Required- Data Scientist (NLP)-Axis Bank - 6 months contract',
 'Data Scientist - Python & Machine Learning (ISO 20022)',
 'Data Scientist - Python / Machine Learning / Tableau / Power BI',
 'Data Scientist']

In [66]:
loc3=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[@class='ellipsis fleft fs12 lh16']")
for q in loc3:
    job3l=q.text
    job3_loc.append(job3l)
job3_loc

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Sector 1 HSR Layout)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru']

In [67]:
com3=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[@class='subTitle ellipsis fleft']")
for r in com3:
    com33=r.text
    company3_name.append(com33)
company3_name

['CronJ IT Technologies Private Limited',
 'Corner Stone Solutions',
 'Shell India Markets Private Limited',
 'Inflexion Analytix Private Limited',
 'Redcan IT Services LLP',
 'NeenOpal Intelligent Solutions Pvt. Ltd.',
 'HireHappi',
 'ITC Infotech India Ltd',
 'Shell India Markets Private Limited',
 'FUTURES AND CAREERS',
 'FUTURES AND CAREERS',
 'The millionvisions',
 'FUTURES AND CAREERS',
 'FUTURES AND CAREERS',
 'ORIGIN BUSINESS SOLUTIONS',
 'Change leaders',
 'Axis Bank Limited',
 'FUTURES AND CAREERS',
 'FUTURES AND CAREERS',
 'NatWest Group']

In [68]:
exp3=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[@class='ellipsis fleft fs12 lh16']")
for t in exp3:
    exp33=t.text
    exp3_req.append(exp33)
exp3_req

['0-1 Yrs',
 '0-1 Yrs',
 '3-5 Yrs',
 '0-2 Yrs',
 '0-0 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '5-9 Yrs',
 '5-7 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '0-0 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '4-9 Yrs',
 '3-8 Yrs',
 '4-9 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '3-5 Yrs']

In [69]:
print(len(job3_title),len(company3_name),len(job3_loc),len(exp3_req))

20 20 20 20

In [73]:
df3=pd.DataFrame({})
df3['Job titles']=job3_title
df3['Company Names']=company3_name
df3['Location']=job3_loc
df3['Experience Required']=exp3_req

In [74]:
df3.head(10)

,Job titles,Company Names,Location,Experience Required
0,Data Scientist,CronJ IT Technologies Private Limited,Bangalore/Bengaluru,0-1 Yrs
1,Opportunity For Data Scientist Internship - Be...,Corner Stone Solutions,Bangalore/Bengaluru,0-1 Yrs
2,Associate Data Scientist - CRM & Loyalty,Shell India Markets Private Limited,Bangalore/Bengaluru,3-5 Yrs
3,Data Scientist/Data Analyst-immediate,Inflexion Analytix Private Limited,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",0-2 Yrs
4,Data Scientist,Redcan IT Services LLP,Bangalore/Bengaluru(Sector 1 HSR Layout),0-0 Yrs
5,Data Scientist Entry Level,NeenOpal Intelligent Solutions Pvt. Ltd.,Bangalore/Bengaluru,2-4 Yrs
6,SAS Data Scientist,HireHappi,Bangalore/Bengaluru,3-8 Yrs
7,Supply Chain Data Scientist,ITC Infotech India Ltd,Bangalore/Bengaluru,5-9 Yrs
8,Data Scientist - CRM & Loyalty,Shell India Markets Private Limited,Bangalore/Bengaluru,5-7 Yrs
9,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs

In [328]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [329]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [330]:
job5=driver.find_element_by_id("KeywordSearch")

In [331]:
job5.send_keys("Data Scientist")

In [332]:
location5=driver.find_element_by_id("LocationSearch")

In [333]:
#Clearing if any entries are already present
location5.clear()

In [334]:
location5.send_keys("Noida(India)")

In [335]:
search5=driver.find_element_by_id("HeroSearchButton").click()

In [336]:
company4_name=[]
max4_salary=[]
avgg4_salary=[]
minn4_salary=[]

In [337]:
company=driver.find_elements_by_xpath("//p[@class='m-0 ']")

In [338]:
for l in company[:10]:
    companyy=l.text
    company4_name.append(companyy)
company4_name

['Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'IBM',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'ZS Associates',
 'EXL Service']

In [339]:
avg_sal=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")

In [340]:
for pp in avg_sal[:10]:
    avgg=pp.text
    avgg4_salary.append(avgg)
avgg4_salary

['₹ 5,97,967',
 '₹ 11,12,243',
 '₹ 12,12,741',
 '₹ 7,37,972',
 '₹ 7,15,984',
 '₹ 13,41,900',
 '₹ 7,90,812',
 '₹ 11,81,047',
 '₹ 9,89,924',
 '₹ 11,73,127']

In [341]:
min_sal=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]")

In [342]:
for f in min_sal[:10]:
    minsal=f.text
    minn4_salary.append(minsal)
minn4_salary

['₹333K',
 '₹560K',
 '₹436K',
 '₹569K',
 '₹350K',
 '₹1,037K',
 '₹487K',
 '₹602K',
 '₹196K',
 '₹558K']

In [343]:
maxx4_sal=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")

In [344]:
for f in maxx4_sal[:10]:
    maxsal=f.text
    max4_salary.append(maxsal)
max4_salary

['₹1,080K',
 '₹2,147K',
 '₹11,274K',
 '₹2,648K',
 '₹1,565K',
 '₹1,500K',
 '₹1,421K',
 '₹1,644K',
 '₹1,755K',
 '₹1,500K']

In [345]:
df4=pd.DataFrame({})
df4['Company Name']=company4_name
df4['Average salary per year']=avgg4_salary
df4['Minimum salary per year']=minn4_salary
df4['Maximum salary per year']=max4_salary
df4

,Company Name,Average salary per year,Minimum salary per year,Maximum salary per year
0,Tata Consultancy Services,"₹ 5,97,967",₹333K,"₹1,080K"
1,Accenture,"₹ 11,12,243",₹560K,"₹2,147K"
2,Delhivery,"₹ 12,12,741",₹436K,"₹11,274K"
3,IBM,"₹ 7,37,972",₹569K,"₹2,648K"
4,Ericsson-Worldwide,"₹ 7,15,984",₹350K,"₹1,565K"
5,UnitedHealth Group,"₹ 13,41,900","₹1,037K","₹1,500K"
6,Valiance Solutions,"₹ 7,90,812",₹487K,"₹1,421K"
7,Innovaccer,"₹ 11,81,047",₹602K,"₹1,644K"
8,ZS Associates,"₹ 9,89,924",₹196K,"₹1,755K"
9,EXL Service,"₹ 11,73,127",₹558K,"₹1,500K"

In [95]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [96]:
driver.get("https://www.naukri.com/")

In [97]:
search_job2=driver.find_element_by_id("qsb-keyword-sugg")
search_job2.send_keys("Data Scientist")

In [98]:
search_loc2=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc2.send_keys("Bangalore")

In [99]:
search_btn2=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn2.click()

In [100]:
job2_title=[]
company2_name=[]
job2_location=[]
job2_desc=[]

In [101]:
job2=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for k in job2[:10]:
    kk=k.text
    job2_title.append(kk)
job2_title

['Data Scientist',
 'Opportunity For Data Scientist Internship - Bengaluru',
 'Data Scientist - Machine Learning',
 'Data Scientist || Data Analyst || Data science',
 'Data Scientist - IBM Garage',
 'DBCG IND - GAMMA Senior Data Scientist',
 'Data Scientist/Senior Data Scientist',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Global Medical Data Scientist',
 'Associate Data Scientist - CRM & Loyalty']

In [102]:
comp2=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for m in comp2[:10]:
    mm=m.text
    company2_name.append(mm)
company2_name

['CronJ IT Technologies Private Limited',
 'Corner Stone Solutions',
 'AugmatrixGo',
 'Inspiration Manpower Consultancy Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'Boston Consulting Group',
 'GANIT BUSINESS SOLUTIONS PRIVATE LIMITED',
 'CES Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Shell India Markets Private Limited']

In [103]:
loc2=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[@class='ellipsis fleft fs12 lh16']")

In [104]:
for l in loc2[:10]:
    ll=l.text
    job2_location.append(ll)
job2_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Navi Mumbai, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [105]:
#importing exceptions
from selenium.common.exceptions import NoSuchElementException

In [106]:
urls=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
UR=[]
for j in urls[:10]:
    UR.append(j.get_attribute('href'))
for i in UR:
    driver.get(i)
    try:
        desc2=driver.find_element_by_xpath("//section[@class='job-desc']")
        job2_desc.append(desc2.text)
    except NoSuchElementException as  e:
        job2_desc.append("No job description available")

In [107]:
len(job2_desc)

10

In [108]:
print(len(job2_title),len(company2_name),len(job2_location),len(job2_desc))

10 10 10 10

In [109]:
df2=pd.DataFrame({})
df2['Job title']=job2_title
df2['Company Name']=company2_name
df2['Location']=job2_location
df2['Job Description']=job2_desc

In [110]:
df2

,Job title,Company Name,Location,Job Description
0,Data Scientist,CronJ IT Technologies Private Limited,Bangalore/Bengaluru,Job description\nResponsibilities and Duties\n...
1,Opportunity For Data Scientist Internship - Be...,Corner Stone Solutions,Bangalore/Bengaluru,Job description\nLocation - Bangalore / Bengal...
2,Data Scientist - Machine Learning,AugmatrixGo,Bangalore/Bengaluru,Job description\nRoles and Responsibilities\n\...
3,Data Scientist || Data Analyst || Data science,Inspiration Manpower Consultancy Pvt. Ltd.,"Navi Mumbai, Bangalore/Bengaluru",Job description\nJob description\nJob Summary ...
4,Data Scientist - IBM Garage,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",No job description available
5,DBCG IND - GAMMA Senior Data Scientist,Boston Consulting Group,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Job description\n What Youll Do\n\nWe re lo...
6,Data Scientist/Senior Data Scientist,GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Job description\n\nAbout Ganit Inc\n\nFounded ...
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Job description\nRoles and Responsibilities\n\...
8,Global Medical Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,No job description available
9,Associate Data Scientist - CRM & Loyalty,Shell India Markets Private Limited,Bangalore/Bengaluru,Job description\nThe Role\nGeneral Position De...

In [178]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [179]:
driver.get("https://www.glassdoor.co.in/index.htm")

In [180]:
job4=driver.find_element_by_id("sc.keyword")

In [181]:
job4.send_keys("Data Scientist")

In [182]:
loc4=driver.find_element_by_id("sc.location")

In [122]:
#loc4=loc4.clear()

In [183]:
loc4.send_keys("Noida(India)")

In [184]:
search_btn4=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_btn4.click()

In [185]:
company4_name=[]
recency=[]
rating=[]

In [186]:
comp4_name=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a[@class=' css-l2wjgv e1n63ojh0 jobLink']")

In [187]:
for h in comp4_name[:10]:
    comp4=h.text
    company4_name.append(comp4)
company4_name

['BlackRock',
 'Elsevier',
 'Techlive',
 'Adobe',
 'Biz2Credit Inc',
 'WishFin',
 'abc consultants',
 'Priority Vendor',
 'Healtheoz India',
 'Gauge Data Solutions']

In [188]:
recency4=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

In [189]:
for z in recency4[:10]:
    rec4=z.text
    recency.append(rec4)
recency

['18d', '12d', '5d', '1d', '7d', '10d', '27d', '27d', '27d', '27d']

In [190]:
rating4=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

In [191]:
for r in rating4[:10]:
    rate4=r.text
    rating.append(rate4)
print(len(rating))

10

In [192]:
rating

['4.0', '4.3', '5.0', '4.4', '3.8', '3.8', '4.2', '3.7', '4.8', '3.1']

In [193]:
print(len(company4_name),len(recency),len(rating))

10 10 10

In [194]:
df4=pd.DataFrame({})
df4['Company Name']=company4_name
df4['Recency of job posting']=recency
df4['Rating']=rating

In [195]:
df4

           Company Name Recency of job posting Rating
0             BlackRock                    18d    4.0
1              Elsevier                    12d    4.3
2              Techlive                     5d    5.0
3                 Adobe                     1d    4.4
4        Biz2Credit Inc                     7d    3.8
5               WishFin                    10d    3.8
6       abc consultants                    27d    4.2
7       Priority Vendor                    27d    3.7
8       Healtheoz India                    27d    4.8
9  Gauge Data Solutions                    27d    3.1

In [214]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [215]:
driver.get("https://www.myntra.com/shoes")

In [212]:
black_clr_filter=driver.find_element_by_xpath("//span[@class='colour-label colour-colorDisplay']").click()

In [234]:
price_filter=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label[@class='common-customCheckbox vertical-filters-label']/div[@class='common-checkboxIndicator']").click()

In [235]:
brand=[]
short_desc=[]
price=[]

In [236]:
try:
    brand_a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3[@class='product-brand']")
    for i in brand_a:
        ii=i.text
        brand.append(ii)
except NoSuchElementException as e:
    price.append("Brand Name unavailable")
except ElementNotInteractableException as e:
    price.append("Brand Name unvailable")

In [237]:
len(brand)

50

In [238]:
try:
    short_desc_a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4[@class='product-product']")
    for j in short_desc_a:
        jj=j.text
        short_desc.append(jj)
except NoSuchElementException as e:
    price.append("Description unavailable")
except ElementNotInteractableException as e:
    price.append("Description unvailable")

In [239]:
len(short_desc)

50

In [240]:
try:
    price_a=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
    for k in price_a:
        kk=k.text
        price.append(kk)
except NoSuchElementException as e:
    price.append("Price unavailable")
except ElementNotInteractableException as e:
    price.append("Price unvailable")    
price

['Rs. 7799Rs. 12999',
 'Rs. 8396Rs. 11995',
 'Rs. 10121Rs. 13495',
 'Rs. 7197Rs. 11995',
 'Rs. 7999',
 'Rs. 6996Rs. 9995',
 'Rs. 8246Rs. 10995',
 'Rs. 6999',
 'Rs. 11495',
 'Rs. 12495',
 'Rs. 10496Rs. 14995',
 'Rs. 10846Rs. 15495',
 'Rs. 12995',
 'Rs. 7721Rs. 10295',
 'Rs. 10999',
 'Rs. 8295',
 'Rs. 10121Rs. 13495',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 7195',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 9599Rs. 11999',
 'Rs. 10999',
 'Rs. 10995',
 'Rs. 7199Rs. 8999',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 10999',
 'Rs. 8799Rs. 10999',
 'Rs. 7999Rs. 9999',
 'Rs. 7499',
 'Rs. 6399Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 6795',
 'Rs. 9999',
 'Rs. 7492Rs. 9990',
 'Rs. 7999',
 'Rs. 12495',
 'Rs. 6995',
 'Rs. 7499Rs. 14999',
 'Rs. 7149Rs. 12999']

In [241]:
len(price)

50

In [242]:
#Clicking the next button
next_button=driver.find_element_by_xpath("//li[@class='pagination-next']").click()

In [243]:
try:
    brand_a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3[@class='product-brand']")
    for i in brand_a:
        ii=i.text
        brand.append(ii)
except NoSuchElementException as e:
    price.append("Brand Name unavailable")
except ElementNotInteractableException as e:
    price.append("Brand Name unvailable")

In [244]:
len(brand)

100

In [245]:
try:
    short_desc_a=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4[@class='product-product']")
    for j in short_desc_a:
        jj=j.text
        short_desc.append(jj)
except NoSuchElementException as e:
    price.append("Description unavailable")
except ElementNotInteractableException as e:
    price.append("Description unvailable")

In [246]:
len(short_desc)

100

In [247]:
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException

In [248]:
try:
    price_a=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
    for k in price_a:
        kk=k.text
        price.append(kk)
except NoSuchElementException as e:
    price.append("Price unavailable")
except ElementNotInteractableException as e:
    price.append("Price unvailable")    
price

['Rs. 7799Rs. 12999',
 'Rs. 8396Rs. 11995',
 'Rs. 10121Rs. 13495',
 'Rs. 7197Rs. 11995',
 'Rs. 7999',
 'Rs. 6996Rs. 9995',
 'Rs. 8246Rs. 10995',
 'Rs. 6999',
 'Rs. 11495',
 'Rs. 12495',
 'Rs. 10496Rs. 14995',
 'Rs. 10846Rs. 15495',
 'Rs. 12995',
 'Rs. 7721Rs. 10295',
 'Rs. 10999',
 'Rs. 8295',
 'Rs. 10121Rs. 13495',
 'Rs. 9999',
 'Rs. 6999',
 'Rs. 7195',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 9599Rs. 11999',
 'Rs. 10999',
 'Rs. 10995',
 'Rs. 7199Rs. 8999',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 10999',
 'Rs. 8799Rs. 10999',
 'Rs. 7999Rs. 9999',
 'Rs. 7499',
 'Rs. 6399Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 6999',
 'Rs. 6795',
 'Rs. 9999',
 'Rs. 7492Rs. 9990',
 'Rs. 7999',
 'Rs. 12495',
 'Rs. 6995',
 'Rs. 7499Rs. 14999',
 'Rs. 7149Rs. 12999',
 'Rs. 9999',
 'Rs. 7492Rs. 9990',
 'Rs. 6999',
 'Rs. 6995',
 'Rs. 7499Rs. 14999',
 'Rs. 7149Rs. 12999',
 'Rs. 9599Rs. 11999',
 'Rs. 6999',
 'Rs. 8499',
 'Rs. 7499Rs. 9999',
 'Rs. 9499',
 'Rs. 7999',
 'Rs. 6993Rs. 9990',
 'Rs. 12999',
 'Rs. 7499Rs. 9999',
 'Rs. 9349Rs. 10999',
 'Rs. 6795',
 'Rs. 8799Rs. 10999',
 'Rs. 6749Rs. 8999',
 'Rs. 7039Rs. 10999',
 'Rs. 7499',
 'Rs. 6993Rs. 9990',
 'Rs. 9999',
 'Rs. 6993Rs. 9990',
 'Rs. 7440Rs. 8000',
 'Rs. 6675Rs. 8900',
 'Rs. 11999Rs. 15999',
 'Rs. 7999',
 'Rs. 7117Rs. 9490',
 'Rs. 6999',
 'Rs. 8992Rs. 11990',
 'Rs. 7117Rs. 9490',
 'Rs. 7192Rs. 8990',
 'Rs. 7693Rs. 10990',
 'Rs. 6990',
 'Rs. 9900',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 8499',
 'Rs. 8990',
 'Rs. 7192Rs. 8990',
 'Rs. 11490',
 'Rs. 6749Rs. 8999',
 'Rs. 9443Rs. 13490',
 'Rs. 11242Rs. 14990',
 'Rs. 9196Rs. 11495',
 'Rs. 8990',
 'Rs. 7492Rs. 9990',
 'Rs. 9742Rs. 12990',
 'Rs. 7499Rs. 14999']

In [249]:
print(len(brand),len(short_desc),len(price))

100 100 100

In [250]:
df9=pd.DataFrame({})
df9['Brand Name']=brand
df9['Short Description']=short_desc
df9['Actual price and Price before discount']=price
df9

,Brand Name,Short Description,Actual price and Price before discount
0,ALDO,Men Leather Loafers,Rs. 7799Rs. 12999
1,Nike,Women REACT Running Shoes,Rs. 8396Rs. 11995
2,Nike,Men AIR ZOOM Running Shoes,Rs. 10121Rs. 13495
3,Nike,Women Running Shoes,Rs. 7197Rs. 11995
4,PUMA Motorsport,Unisex Mercedes Running Shoes,Rs. 7999
5,Nike,Women AIR ZOOM Running Shoes,Rs. 6996Rs. 9995
6,Nike,Men REACT MILER Running Shoes,Rs. 8246Rs. 10995
7,Bugatti,Men Perforated Mule Sneakers,Rs. 6999
8,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 11495
9,Nike,Men JORDAN DELTA Basketball,Rs. 12495
10,Nike,Men JOYRIDE Running Shoes,Rs. 10496Rs. 14995
11,Nike,Men React Infinity Running,Rs. 10846Rs. 15495
12,Nike,Men KD13 EP Basketball Shoes,Rs. 12995
13,Nike,Women AIR ZOOM Running Shoes,Rs. 7721Rs. 10295
14,Puma,Men Velocity Nitro Running,Rs. 10999
15,Nike,Women REACT ESCAPE Running,Rs. 8295
16,Nike,Women AIR ZOOM Running,Rs. 10121Rs. 13495
17,Puma,Men Liberate Nitro Running,Rs. 9999
18,Skechers,Men VIPER COMPETITOR Training,Rs. 6999
19,Nike,Women ZOOM SPAN 3 Running,Rs. 7195
20,Puma,Men Mesh Fuse Training Or Gym Shoes,Rs. 7999
21,UNDER ARMOUR,Men HOVR STRT Sportstyle Shoes,Rs. 9999
22,UNDER ARMOUR,Men Charged Impulse Knit,Rs. 8999
23,Bugatti,Men Solid Leather Formal Derbys,Rs. 9999
24,UNDER ARMOUR,HOVR Guardian 2 Sports Shoes,Rs. 9599Rs. 11999
25,UNDER ARMOUR,HOVR Sonic 3 Running Shoes,Rs. 10999
26,Nike,Men JORDAN DELTA Sneakers,Rs. 10995
27,UNDER ARMOUR,Women Liquify Rebel Running,Rs. 7199Rs. 8999
28,Hush Puppies,Men Formal Derbys,Rs. 9999
29,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
...,...,...,...
70,Skechers,SKECH-AIRATLASMISTLYN Sneakers,Rs. 7499
71,Heel & Buckle London,Women Solid Leather Gladiators,Rs. 6993Rs. 9990
72,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 9999
73,Heel & Buckle London,Women Solid Leather Heels,Rs. 6993Rs. 9990
74,Saint G,Women Heeled Boots,Rs. 7440Rs. 8000
75,Saint G,Women Leather Heeled Boots,Rs. 6675Rs. 8900
76,Geox,Men Leather Formal Monks,Rs. 11999Rs. 15999
77,Hush Puppies,Men Leather Derbys,Rs. 7999
78,Geox,Solid Leather Wedges,Rs. 7117Rs. 9490
79,Hush Puppies,Men Textured Oxfords,Rs. 6999
80,Geox,Women Leather Solid Pumps,Rs. 8992Rs. 11990
81,Geox,Women Leather Block Heels,Rs. 7117Rs. 9490
82,Heel & Buckle London,Women Peep Toe Heels,Rs. 7192Rs. 8990
83,Heel & Buckle London,Men Leather Formal Oxfords,Rs. 7693Rs. 10990
84,Ruosh,Men Leather Formal Brogues,Rs. 6990
85,Saint G,Women Leather Heeled Boots,Rs. 9900
86,Puma,Men IGNITE Ronin Unrest,Rs. 6999
87,Puma,Men IGNITE Dual Running Shoes,Rs. 6999
88,Bugatti,Women Solid Block Heels,Rs. 8499
89,Ruosh,Men Solid Leather Formal Derbys,Rs. 8990
90,Heel & Buckle London,Women Leather Pumps,Rs. 7192Rs. 8990
91,Geox,Men Leather Formal Derbys,Rs. 11490
92,Geox,Women Solid Flatforms,Rs. 6749Rs. 8999
93,Ruosh,Men Solid Leather Formal Oxfords,Rs. 9443Rs. 13490
94,Geox,Men Leather Formal Slip-Ons,Rs. 11242Rs. 14990
95,Nike,Men REACT MILER 2 Running,Rs. 9196Rs. 11495
96,Geox,Women Leather Boat Shoes,Rs. 8990
97,Geox,Women Solid Leather Flats,Rs. 7492Rs. 9990
98,Geox,Men Leather Formal Derbys,Rs. 9742Rs. 12990
99,Cole Haan,Women Woven Design Sneakers,Rs. 7499Rs. 14999

In [112]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [113]:
driver.get("https://www.flipkart.com")

In [114]:
product=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")

In [115]:
product.send_keys("sneakers")

In [119]:
search_btn=driver.find_element_by_xpath("//div[@class='col-12-12 _2oO9oE']/button").click()

In [120]:
brand8=[]
short_desc8=[]
price8=[]
discount8=[]

In [121]:
try:
    brand_a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for g in brand_a:
        gg=g.text
        brand8.append(gg)
except NoSuchElementException as e:
    brand8.append('Brand name not shown')
except ElementNotInteractableException as e:
    brand8.append('Brand name not shown')

brand8

['French Connection',
 'BRUTON',
 'Chevit',
 'Robbie jones',
 'Chevit',
 'Robbie jones',
 'ORICUM',
 'Chevit',
 'Raftar',
 'aadi',
 'Shoes Bank',
 'Chevit',
 'Red Rose',
 'Chevit',
 'believe',
 'richerson',
 'Chevit',
 'Birde',
 'TR',
 '"trend"',
 'Numenzo',
 'Chevit',
 'Magnolia',
 '"trend"',
 'T-ROCK',
 'Chevit',
 '"trend"',
 'HOTSTYLE',
 'bluemaker',
 'oxpeo',
 'Extoes',
 'Chevit',
 'SCATCHITE',
 'well feet',
 'HOTSTYLE',
 'SPARX',
 'Echor',
 'Robbie jones',
 'Stefano Rads',
 'Chevit']

In [122]:
len(brand8)

40

In [123]:
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException

In [124]:
try:
    short_desc_a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[@class='IRpwTa']")
    for y in short_desc_a:
        yy=y.text
        short_desc8.append(yy)
except NoSuchElementException as e:
    short_dec8.append('Description not available')
except ElementNotInteractableException as e:
    short_dec8.append('Description not available')

In [125]:
len(short_desc8)

35

In [107]:
short_desc_a=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[@class='IRpwTa _2-ICcC']")
short_desc8

['Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'SM439G Sneakers For Men']

These four are having different path

In [126]:
try:
    price_a=driver.find_elements_by_xpath("//div[@class='_25b18c']/div[@class='_30jeq3']")
    for d in price_a:
        dd=d.text
        price8.append(dd)
except NoSuchElementException as e:
    price8.append('Price not shown')
except ElementNotInteractableException as e:
    price8.append('Price not shown')
    
price8

['₹680',
 '₹499',
 '₹499',
 '₹379',
 '₹420',
 '₹474',
 '₹398',
 '₹474',
 '₹379',
 '₹298',
 '₹349',
 '₹322',
 '₹379',
 '₹420',
 '₹423',
 '₹455',
 '₹254',
 '₹299',
 '₹539',
 '₹499',
 '₹398',
 '₹339',
 '₹330',
 '₹474',
 '₹386',
 '₹211',
 '₹499',
 '₹255',
 '₹419',
 '₹419',
 '₹795',
 '₹211',
 '₹398',
 '₹399',
 '₹172',
 '₹699',
 '₹570',
 '₹450',
 '₹217',
 '₹799']

In [127]:
len(price8)

40

In [128]:
try:
    discount_a=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for e in discount_a:
        ee=e.text
        discount8.append(ee)
except NoSuchElementException as e:
    discount8.append("Discount not available")
except ElementNotInteractableException as e:
    discount8.append("Discount not available")
discount8

['65% off',
 '87% off',
 '72% off',
 '62% off',
 '78% off',
 '52% off',
 '60% off',
 '76% off',
 '62% off',
 '70% off',
 '65% off',
 '67% off',
 '62% off',
 '57% off',
 '57% off',
 '54% off',
 '74% off',
 '40% off',
 '73% off',
 '87% off',
 '60% off',
 '57% off',
 '66% off',
 '88% off',
 '61% off',
 '57% off',
 '75% off',
 '48% off',
 '58% off',
 '58% off',
 '46% off',
 '57% off',
 '60% off',
 '33% off',
 '65% off',
 '42% off',
 '54% off',
 '68% off',
 '67% off']

In [129]:
len(discount8)

39

In [130]:
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [131]:
try:
    brand_a=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for g in brand_a:
        gg=g.text
        brand8.append(gg)
except NoSuchElementException as e:
    brand8.append('Brand name not shown')
except ElementNotInteractableException as e:
    brand8.append('Brand name not shown')
brand8

['French Connection',
 'BRUTON',
 'Chevit',
 'Robbie jones',
 'Chevit',
 'Robbie jones',
 'ORICUM',
 'Chevit',
 'Raftar',
 'aadi',
 'Shoes Bank',
 'Chevit',
 'Red Rose',
 'Chevit',
 'believe',
 'richerson',
 'Chevit',
 'Birde',
 'TR',
 '"trend"',
 'Numenzo',
 'Chevit',
 'Magnolia',
 '"trend"',
 'T-ROCK',
 'Chevit',
 '"trend"',
 'HOTSTYLE',
 'bluemaker',
 'oxpeo',
 'Extoes',
 'Chevit',
 'SCATCHITE',
 'well feet',
 'HOTSTYLE',
 'SPARX',
 'Echor',
 'Robbie jones',
 'Stefano Rads',
 'Chevit',
 'Absolute comfort',
 'D-SNEAKERZ',
 'Wika',
 'BRUTON',
 'Airland',
 'Red Rose',
 'ESSENCE',
 'Edoeviv',
 'ROCKFIELD',
 'STRANGER BROTHERS',
 'ESSENCE',
 'zovim',
 'Echor',
 'PUMA',
 'World Wear Footwear',
 'ROCKFIELD',
 'SPARX',
 'HOTSTYLE',
 'A ANTIC MOP',
 'RED TAPE',
 'restinfoot',
 'SHOEFLY',
 'Bonexy',
 'BRUTON',
 'BLACK BOTTOM',
 'SPARX',
 'Chevit',
 'shoelife',
 'SWIGGY',
 'BRUTON',
 'Zorth',
 'World Wear Footwear',
 'Zsyto',
 'bluemaker',
 'Chevit',
 'believe',
 'World Wear Footwear',
 'Numenzo',
 'HOCKWOOD',
 'KLICKER']

In [132]:
len(brand8)

80

In [133]:
try:
    price_a=driver.find_elements_by_xpath("//div[@class='_25b18c']/div[@class='_30jeq3']")
    for d in price_a:
        dd=d.text
        price8.append(dd)
except NoSuchElementException as e:
    price8.append('Price not shown')
except ElementNotInteractableException as e:
    price8.append('Price not shown')   
price8

['₹680',
 '₹499',
 '₹499',
 '₹379',
 '₹420',
 '₹474',
 '₹398',
 '₹474',
 '₹379',
 '₹298',
 '₹349',
 '₹322',
 '₹379',
 '₹420',
 '₹423',
 '₹455',
 '₹254',
 '₹299',
 '₹539',
 '₹499',
 '₹398',
 '₹339',
 '₹330',
 '₹474',
 '₹386',
 '₹211',
 '₹499',
 '₹255',
 '₹419',
 '₹419',
 '₹795',
 '₹211',
 '₹398',
 '₹399',
 '₹172',
 '₹699',
 '₹570',
 '₹450',
 '₹217',
 '₹799',
 '₹199',
 '₹367',
 '₹449',
 '₹799',
 '₹258',
 '₹379',
 '₹442',
 '₹464',
 '₹360',
 '₹454',
 '₹442',
 '₹399',
 '₹570',
 '₹1,047',
 '₹424',
 '₹360',
 '₹699',
 '₹267',
 '₹420',
 '₹1,648',
 '₹369',
 '₹254',
 '₹450',
 '₹424',
 '₹449',
 '₹769',
 '₹348',
 '₹449',
 '₹679',
 '₹447',
 '₹599',
 '₹204',
 '₹315',
 '₹419',
 '₹420',
 '₹423',
 '₹169',
 '₹398',
 '₹692',
 '₹379']

In [134]:
len(price8)

80

In [135]:
df8=pd.DataFrame({})
df8['Brand Name']=brand8
df8['Price']=price8
df8

             Brand Name   Price
0     French Connection    ₹680
1                BRUTON    ₹499
2                Chevit    ₹499
3          Robbie jones    ₹379
4                Chevit    ₹420
5          Robbie jones    ₹474
6                ORICUM    ₹398
7                Chevit    ₹474
8                Raftar    ₹379
9                  aadi    ₹298
10           Shoes Bank    ₹349
11               Chevit    ₹322
12             Red Rose    ₹379
13               Chevit    ₹420
14              believe    ₹423
15            richerson    ₹455
16               Chevit    ₹254
17                Birde    ₹299
18                   TR    ₹539
19              "trend"    ₹499
20              Numenzo    ₹398
21               Chevit    ₹339
22             Magnolia    ₹330
23              "trend"    ₹474
24               T-ROCK    ₹386
25               Chevit    ₹211
26              "trend"    ₹499
27             HOTSTYLE    ₹255
28            bluemaker    ₹419
29                oxpeo    ₹419
..                  ...     ...
50              ESSENCE    ₹442
51                zovim    ₹399
52                Echor    ₹570
53                 PUMA  ₹1,047
54  World Wear Footwear    ₹424
55            ROCKFIELD    ₹360
56                SPARX    ₹699
57             HOTSTYLE    ₹267
58          A ANTIC MOP    ₹420
59             RED TAPE  ₹1,648
60           restinfoot    ₹369
61              SHOEFLY    ₹254
62               Bonexy    ₹450
63               BRUTON    ₹424
64         BLACK BOTTOM    ₹449
65                SPARX    ₹769
66               Chevit    ₹348
67             shoelife    ₹449
68               SWIGGY    ₹679
69               BRUTON    ₹447
70                Zorth    ₹599
71  World Wear Footwear    ₹204
72                Zsyto    ₹315
73            bluemaker    ₹419
74               Chevit    ₹420
75              believe    ₹423
76  World Wear Footwear    ₹169
77              Numenzo    ₹398
78             HOCKWOOD    ₹692
79              KLICKER    ₹379

[80 rows x 2 columns]

In [151]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [152]:
driver.get("https://www.amazon.in/")

In [153]:
product_req=driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")

In [154]:
product_req.send_keys("Laptop")

In [155]:
srch_btn=driver.find_element_by_xpath("//input[@id='nav-search-submit-button']").click()

In [157]:
int_core_17=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span[@class='a-size-base a-color-base']")
for i in int_core_17:
    if i.text=='Intel Core i7':
        i.click()
        break

In [158]:
int_core_19=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span[@class='a-size-base a-color-base']")
for i in int_core_19:
    if i.text=='Intel Core i9':
        i.click()
        break

In [159]:
titles=[]
price=[]
review=[]

In [160]:
title_a=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for j in title_a[:10]:
    jj=j.text
    titles.append(jj)
titles

['Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (16GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xᵉ Graphics/Pine Grey/1.17 kg), UX425EA-BM701TS',
 'ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'Dell Alienware m15(R3) 15.6-inch FHD Gaming Laptop (10th Gen Core i7-10750H/16GB/512GB SSD/Windows 10 Home & MS Office/6GB NVIDIA GTX 1660 Ti Graphics), Lunar Light',
 'Lenovo Legion Y540 Intel Core i7 9th Gen 15.6 inch FHD Gaming Laptop (8GB/1TB HDD + 256 GB SSD/Windows 10/4GB NVIDIA GTX 1650/Black/2.3Kg), 81SY00SUIN',
 'HP 14 Thin & Light 14-inch FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Lenovo Yoga S740 Intel Core i7 10th Gen 14 inch UHD Ultra Thin and Light Laptop (16GB/1TB SSD/Windows/Office/NVIDIA MX250 2GB/Iron Grey/1.4Kg), 81RS00B0IN',
 'Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6" FHD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2060 6GB GDDR6/with M300 RGB Gaming Mouse/Iron Grey/2.3Kg), 82AW005SIN',
 'Dell XPS 15 9570 8thGeneration Corei7,16GB RAM,512GB SSD,4GB 1050 Graphics,Win10 Home 15.6" Full HD Laptop']

In [161]:
price_b=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for t in price_b[:10]:
    tt=t.text
    price.append(tt)
price

['86,790',
 '95,993',
 '5,22,077',
 '1,98,590',
 '78,990',
 '76,500',
 '49,999',
 '1,35,490',
 '38,999',
 '47,190']

In [162]:
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
s=[]
for i in urls[:10]:
    s.append(i.get_attribute('href'))
for j in s:
    driver.get(j)
    try:
        ratings=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']").click()
        
        ratings_pst_clk=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base']")
        for u in ratings_pst_clk:
            uu=u.text
            review.append(uu)
    except NoSuchElementException as e:
        review.append("Rating not available")

In [163]:
review

['4.2 out of 5',
 '4.4 out of 5',
 '3.9 out of 5',
 '3 out of 5',
 '4.1 out of 5',
 '4.6 out of 5',
 '4.4 out of 5',
 '3.4 out of 5',
 '4.3 out of 5',
 '3.9 out of 5']

In [164]:
print(len(titles),len(price),len(review))

10 10 10

In [165]:
df10=pd.DataFrame({})
df10['Title of laptops']=titles
df10['Price']=price
df10['Ratings']=review
df10

                                    Title of laptops     Price       Ratings
0  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    86,790  4.2 out of 5
1  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...    95,993  4.4 out of 5
2  ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...  5,22,077  3.9 out of 5
3  Dell Alienware m15(R3) 15.6-inch FHD Gaming La...  1,98,590    3 out of 5
4  Lenovo Legion Y540 Intel Core i7 9th Gen 15.6 ...    78,990  4.1 out of 5
5  HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...    76,500  4.6 out of 5
6  Mi Notebook Horizon Edition 14 Intel Core i5-1...    49,999  4.4 out of 5
7  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...  1,35,490  3.4 out of 5
8  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...    38,999  4.3 out of 5
9  Dell XPS 15 9570 8thGeneration Corei7,16GB RAM...    47,190  3.9 out of 5

In [194]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [195]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.")

In [196]:
#Clicked on all reviews button
all_reviews_button=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [198]:
review6=[]
rating6=[]
full_review6=[]

In [200]:
#Scraping full reviews from first page only
full_rview_a=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for r in full_rview_a:
    rr=r.text
    full_review6.append(rr)
full_review6

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 '*Review after 10 months of usage*\nDoesn\'t seem bulky with decent touch and camera. The "standard maintained" quality of IPhone. Go for it, if your budget is not more enough for pro models. It\'s a value for money among the 11 series Stereo speakers are so good, you will love the stereo sound. Battery backup is not decent but still better than Iphone 7 and 8.Processor is fast, the phone doesn\'t lag at all even with heavy games, waterproof, faster face id and with no fingerprint scanners. The ca...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE']

In [201]:
#scraping the one-line-review for first page only
review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for y in review:
    yy=y.text
    review6.append(yy)
review6

['Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Wonderful',
 'Fabulous!',
 'Worth every penny']

In [202]:
##scraping the ratings for first page only
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for q in rating:
    qq=q.text
    rating6.append(qq)
rating6

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [203]:
#clicking the first page next button
frst_page_next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
frst_page_next_button.click()

In [204]:
#importing exceptions
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import time

In [205]:
#while length of  list is less than  to 100.
while(len(review6)<100):
    try:
        #scraping the one line reviews
        review_frm_2nd_page=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        #to append the reviews one by one to the list.
        for p in review_frm_2nd_page:
            pp=p.text
            review6.append(pp)
        #print(len(review6))
        rating_frm_2nd_page=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for k in rating_frm_2nd_page:
            kk=k.text
            rating6.append(kk)
        full_rview_a=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
        for l in full_rview_a:
            ll=l.text
            full_review6.append(ll)
        
        #clicking the next button
        next_button_frm_second_page=driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]").click()
        time.sleep(2)
    #Handling exceptions
    except StaleElementReferenceException as e:
        review6.append("Review unavailable")
    except NoSuchElementException as e:
        review6.append("Review unavailable")
    except StaleElementReferenceException as e:
        rating6.append("Rating not available")
    except NoSuchElementException as e:
        rating6.append("Rating not available")
    except StaleElementReferenceException as e:
        full_review6.append("Full review not available")
    except NoSuchElementException as e:
        full_review6.append("Full review not available")

In [206]:
len(review6)

100

In [207]:
review6

['Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Wonderful',
 'Fabulous!',
 'Worth every penny',
 'Simply awesome',
 'Worth every penny',
 'Perfect product!',
 'Nice product',
 'Terrific',
 'Brilliant',
 'Wonderful',
 'Must buy!',
 'Terrific purchase',
 'Classy product',
 'Simply awesome',
 'Worth every penny',
 'Perfect product!',
 'Nice product',
 'Terrific',
 'Brilliant',
 'Wonderful',
 'Must buy!',
 'Terrific purchase',
 'Classy product',
 'Mind-blowing purchase',
 'Great product',
 'Terrific purchase',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Fabulous!',
 'Highly recommended',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Wonderful',
 'Good choice',
 'Perfect product!',
 'Classy product',
 'Perfect product!',
 'Just wow!',
 'Awesome',
 'Good choice',
 'Terrific purchase',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Excellent',
 'Fabulous!',
 'Excellent',
 'Must buy!',
 'Simply awesome',
 'Terrific purchase',
 'Simply awesome',
 'Worth every penny',
 'Just wow!',
 'Value-for-money',
 'Awesome',
 'Mind-blowing purchase',
 'Awesome',
 'Brilliant',
 'Super!',
 'Worth every penny',
 'Good quality product',
 'Terrific purchase',
 'Awesome',
 'Decent product',
 'Good quality product',
 'Fabulous!',
 'Must buy!',
 'Super!',
 'Wonderful',
 'Excellent',
 'Mind-blowing purchase',
 'Good quality product',
 'Just wow!',
 'Excellent',
 'Awesome',
 'Wonderful',
 'Brilliant',
 'Super!',
 'Must buy!',
 'Must buy!',
 'Mind-blowing purchase',
 'Excellent',
 'Just wow!',
 'Excellent',
 'Awesome',
 'Wonderful',
 'Brilliant',
 'Super!',
 'Must buy!',
 'Must buy!',
 'Mind-blowing purchase',
 'Excellent']

In [208]:
len(rating6)

99

In [209]:
rating6

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '3',
 '4',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5']

In [210]:
len(full_review6)

100

In [211]:
full_review6

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 '*Review after 10 months of usage*\nDoesn\'t seem bulky with decent touch and camera. The "standard maintained" quality of IPhone. Go for it, if your budget is not more enough for pro models. It\'s a value for money among the 11 series Stereo speakers are so good, you will love the stereo sound. Battery backup is not decent but still better than Iphone 7 and 8.Processor is fast, the phone doesn\'t lag at all even with heavy games, waterproof, faster face id and with no fingerprint scanners. The ca...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 'Really worth of money. i just love it. It is the best phone ever.',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE',
 'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.',
 'Really worth of money. i just love it. It is the best phone ever.',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE',
 'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !',
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...\nREAD MORE',
 'Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi...\nREAD MORE',
 'The built quality is not very premium.\nThe battery back is great .\nThe LCD panel is not so sharp but the brightness level is very High .\nCamera is super duper awesome.\nThe red colour which people think is bright is actually very soothing and excellent colour to choose from .\nThe A13 Bionic chip is really a flagship processor and can beat any phone which even has 12 gb ram .\nCamera module is very great and looks very stylish.',
 'Really good actually this is my first apple product am using its really awesome performance wise excellent. Am really happy with this iphone11',
 'it is very good at performance. Camera is best like before and very smooth response even in water. Don’t buy 12 mini buy iPhone 11 , it is far better than 12 mini believe me ! Have a nice day \uf8ff ☺️',
 'Reviewing again after 5 months. At the beginning the battery and performance was good but it degraded soon. Also I was facing heating issues. The mobile will heat up like a stove sometimes. You cannot even play Pubg even in low settings properly, performance is not a problem but heating is. Also if you play that game for 10 mins the brightness will be automatically down due to over heating even when the auto brightness is set to off. This will not be solved even if u manually increase the bri...\nREAD MORE',
 "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but...\nREAD MORE",
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Best Quality Product OF iPhone Series , Sound Quality & Camera quality is very awesome, Battery Life is very Sufficient for 24 hr Backup With Full Internet Access , I love this this Product too much , It is very fast & making me Very fast in all my daily Routine\nHighlights;\n1.Camera: 5 STAR\n2.Video Recording: 5 star\n3.Night mODE sHOOTING & Camera:4 star\n4. Audio Quality: Awesome\n5. Battery : 5 Star\n6. Touch:5 Star\n7. Processor: Very Fast\nThe M...\nREAD MORE',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I don’t think is enough to protect this expensive phone. And I recommend this phone and seller as well.\n\nAnd I’m posting this review after using it for 4 days.',
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.\nCamera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.\nI will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.\n\nOnly one thing that I dislike abo...\nREAD MORE',
 'Looking so good 👍 😍 super 👌 stylish 😎 phone\nClean box 📦 good 👍 delivery 👌 fast delivery\nOriginal box Original iphone 📱 👌 😍😍😍',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'Well while switching from android to iOS the first thing you need to be careful about is that you will loose all your whatsapp chat backups as both are different operating systems. Camera clarity is awesome and though being an lcd screen clarity and resolution is good. Battery backup is also good unlike previous gen iPhone. So far the experience is good will Padre after a few months of usage.\n\nP.S the black is more of a dark grey shade and not jet black',
 'In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompare...\nREAD MORE',
 'Best in class. Battery backup is good especially when you play games like Pubg COD. But it is sort of heavy when you hold in hands. Portrait mode is best to click pictures. Stage light effect is awesome. Try to click photos outside in nature because photos inside home or room will not give you the quality in any phone even in DSLR.',
 'Very excited to have this phone. This phone has the real power unlike the android phones having SD 855 . The battery life is very good and the camera quality is excellent as comapred to redmi and other phones except google pixel. I M enjoying every single bit of it. Would recommed only if you have the budget.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'Its Very awesome product working and good camera quality and all about best product and also flipkart is very great deal and offer nice price',
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Awesome purchase. Amazing phone with good battery backup. It’s a top notch device. White colour looks amazing. Phone has a few extra feature than iPhone XR. Overall, this is value for money',
 'Amazing camera and feel super machine I am not describe my feeling but this is amazing Phone I am so lucky I have this',
 'awesome phone to have. it has got many smart features apart from mind blowing looks, camera, display, battery and sound. have fallen in love with this phone. must buy phone if you have got enough money. thanks to flipkart and apple of course..',
 'Its a fabulous mobile look awesome performance unbeaten camera like dslr battery good i think this is a beast of mobile',
 'Dear friends... I want to share my experience with you about this amazing I phone 11....this is my first iPhone and special things about this mobile is it has great camera, battery backup and awesome display.... I mean everything is perfect.loved it 👍👍👍',
 "It's very high performances devise i am like the service of flipkart delevary very fast and packing very nice perfect phone",
 'finally an iPhone with very nice battery backup. update from iPhone 7 and happy to have it. camera is not up to the mark in low light but overall a recommended phone if your budget allows 😀',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'Great iphone.\nI am writing this review after 2 months of usage.\nCamera is excellent, especially the nightmode\nDisplay perfect\nBattery backup awesome\nSound quality very good\nOverall Apple gives you a perfect iphone in this range.\nReally in love with iPhone 11',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",

In [212]:
print(len(review6),len(rating6),len(full_review6))

100 99 100

In [213]:
df6=pd.DataFrame({})
df6['One line review']=review6
df6['Full review']=full_review6
#df6['Rating']=rating6
df6

          One line review                                        Full review
0               Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
1        Perfect product!  Amazing phone with great cameras and better ba...
2           Great product  Amazing Powerful and Durable Gadget.\n\nI’m am...
3       Worth every penny  Previously I was using one plus 3t it was a gr...
4      Highly recommended  iphone 11 is a very good phone to buy only if ...
5        Perfect product!  It’s a must buy who is looking for an upgrade ...
6        Perfect product!  Value for money❤️❤️\nIts awesome mobile phone ...
7               Wonderful  *Review after 10 months of usage*\nDoesn't see...
8               Fabulous!  This is my first iOS phone. I am very happy wi...
9       Worth every penny  Best budget Iphone till date ❤️ go for it guys...
10         Simply awesome  Excellent camera, good performance, no lag. Th...
11      Worth every penny  It’s been almost a month since I have been usi...
12       Perfect product!  Iphone is just awesome.. battery backup is ver...
13           Nice product  Awesome Phone. Slightly high price but worth. ...
14               Terrific  Really worth of money. i just love it. It is t...
15              Brilliant  I have migrated from OP 7pro... and trust me, ...
16              Wonderful  This is my first ever I phone. Before this I w...
17              Must buy!  It’s an amazing product from apple and the cam...
18      Terrific purchase  Upgraded from iphone 6 to 11 best phone for ip...
19         Classy product  Superb Product !!!\nA big and worthy upgrade f...
20         Simply awesome  Excellent camera, good performance, no lag. Th...
21      Worth every penny  It’s been almost a month since I have been usi...
22       Perfect product!  Iphone is just awesome.. battery backup is ver...
23           Nice product  Awesome Phone. Slightly high price but worth. ...
24               Terrific  Really worth of money. i just love it. It is t...
25              Brilliant  I have migrated from OP 7pro... and trust me, ...
26              Wonderful  This is my first ever I phone. Before this I w...
27              Must buy!  It’s an amazing product from apple and the cam...
28      Terrific purchase  Upgraded from iphone 6 to 11 best phone for ip...
29         Classy product  Superb Product !!!\nA big and worthy upgrade f...
..                    ...                                                ...
70                Awesome  The phone is completely good\nAs far as camera...
71         Decent product  Everything u ll like it when u use this iPhone...
72   Good quality product  I'm switching this phone to oppo reno 10x zoom...
73              Fabulous!  I purchased the iPhone 11 a month back. I must...
74              Must buy!  Best Apple iPhone that i have bought at a very...
75                 Super!  It's a great phone. From camera to display eve...
76              Wonderful  I genuinely liked it. One of the best mobile p...
77              Excellent  Just go for it.\nThis phone is really amazing....
78  Mind-blowing purchase  Absolutely powerful gadget. Loved it’s look! S...
79   Good quality product  Awesome camera, smooth and fast UI, display is...
80              Just wow!  The ultimate performance\nCamera is superb\nTh...
81              Excellent  Seller - SuperComNet ( my trust in you has gro...
82                Awesome  Can’t beat the software and hardware integrati...
83              Wonderful  Superfast delivery by Flipkart. Thanks.\n\n1. ...
84              Brilliant  Excellent camera and display touching very nic...
85                 Super!  This is my first ever iPhone.\nAnd I truly don...
86              Must buy!  I rate this product 5* as it has got amazing u...
87              Must buy!  Damn this phone is a blast . Upgraded from and...
88  Mind-blowing purchase  i was confused between 11 and 11 pro. i was go...
89              Excellent  Value for money product. This iphone 11 is rea...
90              Just wow!  The ultimate performance\nCamera is superb\nTh...
91              Excellent  Seller - SuperComNet ( my trust in you has gro...
92                Awesome  Can’t beat the software and hardware integrati...
93              Wonderful  Superfast delivery by Flipkart. Thanks.\n\n1. ...
94              Brilliant  Excellent camera and display touching very nic...
95                 Super!  This is my first ever iPhone.\nAnd I truly don...
96              Must buy!  I rate this product 5* as it has got amazing u...
97              Must buy!  Damn this phone is a blast . Upgraded from and...
98  Mind-blowing purchase  i was confused between 11 and 11 pro. i was go...
99              Excellent  Value for money product. This iphone 11 is rea...

[100 rows x 2 columns]

In [272]:
driver=webdriver.Chrome(r"D:\chromedriver.exe")

In [273]:
driver.get("https://www.flipkart.com")

In [274]:
product=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")

In [275]:
product.send_keys("sunglasses")

In [276]:
search_btn=driver.find_element_by_xpath("//div[@class='col-12-12 _2oO9oE']/button").click()

In [280]:
brand7=[]
desc7=[]
price7=[]
discount7=[]

In [281]:
try:
    brand_x=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for a in brand_x:
        aa=a.text
        brand7.append(aa)
except NoSuchElementException as e:
    brand7.append('Brand name not present')
except ElementNotInteractableException as e:
    brand7.append('Brand name not present')
brand7

['PIRASO',
 'PIRASO',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'Silver Kartz',
 'PIRASO',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PIRASO',
 'phenomenal',
 'Fastrack',
 'Singco India',
 'phenomenal',
 'Fastrack',
 'NuVew',
 'Singco India',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'HIPPON',
 'NuVew',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'New Specs',
 'Fastrack',
 'Singco India',
 'Fastrack',
 'PIRASO',
 'phenomenal',
 'DEIXELS',
 'PIRASO',
 'Singco India',
 'ROZZETTA CRAFT',
 'Aislin']

In [282]:
len(brand7)

40

In [283]:
try:
    desc_x=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for b in desc_x:
        bb=b.text
        desc7.append(bb)
except NoSuchElementException as e:
    desc7.append('Description not present')
except ElementNotInteractableException as e:
    desc7.append('Description not present')

In [284]:
len(desc7)

38

In [285]:
try:
    price_x=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for c in price_x:
        cc=c.text
        price7.append(cc)
except NoSuchElementException as e:
    price7.append('Price not present')
except ElementNotInteractableException as e:
    price7.append('Price not present')

In [286]:
len(price7)

40

In [287]:
try:
    discount_x=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
    for d in discount_x:
        dd=d.text
        discount7.append(dd)
except NoSuchElementException as e:
    discount7.append('No discount')
except ElementNotInteractableException as e:
    discount7.append('No discount')

In [288]:
len(discount7)

40

In [289]:
next_btn_1st_page=driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [290]:
brand_x=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for a in brand_x:
    aa=a.text
    brand7.append(aa)
price_x=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for c in price_x:
    cc=c.text
    price7.append(cc)
discount_x=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
for d in discount_x:
    dd=d.text
    discount7.append(dd)

In [291]:
print(len(brand7),len(price7),len(discount7))

80 80 80

In [293]:
df7=pd.DataFrame({})
df7['Brand Name']=brand7
df7['Price']=price7
df7['Discount offered']=discount7
df7

        Brand Name   Price Discount offered
0           PIRASO    ₹179          88% off
1           PIRASO    ₹209          86% off
2         Fastrack    ₹683          24% off
3           PIRASO    ₹187          88% off
4         Fastrack    ₹469          53% off
5         Fastrack    ₹570          28% off
6     Silver Kartz    ₹233          84% off
7           PIRASO    ₹296          81% off
8         Fastrack    ₹685          23% off
9   ROZZETTA CRAFT    ₹499          77% off
10        Fastrack    ₹609          23% off
11          PIRASO    ₹212          86% off
12  ROZZETTA CRAFT    ₹404          79% off
13          PIRASO    ₹449          85% off
14      phenomenal    ₹399          80% off
15        Fastrack    ₹951          26% off
16    Singco India    ₹202          71% off
17      phenomenal    ₹399          80% off
18        Fastrack    ₹987          24% off
19           NuVew    ₹296          80% off
20    Singco India    ₹199          80% off
21        Fastrack    ₹685          23% off
22        Fastrack    ₹684          23% off
23       ROYAL SON    ₹509          66% off
24          HIPPON    ₹251          79% off
25           NuVew    ₹183          76% off
26        Fastrack    ₹609          23% off
27  ROZZETTA CRAFT    ₹499          77% off
28        Fastrack    ₹725           9% off
29       New Specs    ₹287          79% off
..             ...     ...              ...
50        Fastrack    ₹539          32% off
51         DEIXELS    ₹202          83% off
52        Fastrack    ₹685          23% off
53          PIRASO    ₹296          81% off
54      phenomenal    ₹399          80% off
55        Fastrack    ₹685          23% off
56           NuVew    ₹167          80% off
57       ROYAL SON    ₹194          80% off
58           NuVew    ₹209          73% off
59  ROZZETTA CRAFT    ₹426          84% off
60  ROZZETTA CRAFT    ₹449          80% off
61       ROYAL SON  ₹1,104          55% off
62        Fastrack    ₹607          24% off
63          PIRASO    ₹339          86% off
64           NuVew    ₹177          81% off
65          Singco    ₹345          82% off
66          GANSTA    ₹284          85% off
67  ROZZETTA CRAFT    ₹426          78% off
68        Fastrack    ₹609          23% off
69       ROYAL SON    ₹594          70% off
70    Silver Kartz    ₹299          75% off
71           Fravy    ₹329          83% off
72        Fastrack    ₹567          43% off
73       ROYAL SON    ₹594          60% off
74        Fastrack    ₹609          23% off
75        Fastrack    ₹609          23% off
76        Fastrack    ₹685          23% off
77       ROYAL SON    ₹339          77% off
78          Aislin    ₹614          71% off
79          Aislin    ₹592          72% off

[80 rows x 3 columns]